body {
    margin: 0;
    background-color: #e7d0d5;
    font-family: 'HGP創英角ﾎﾟｯﾌﾟ体', sans-serif;
}

.nav {
    width: 100%;
    background-color: #a9c7ea;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px
}

.header a {
    display: inline-block;
    padding: 10px 20px; 
    margin: 5px;
    background-color: #4561ff;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
}

.header a:hover {
    background-color: #ffffff;
    color: #000000;
}


.content {
    margin: 10% auto;
    width: 70%;
    padding: 20px;
    background-color: #edf8f8;
    color: #4f4d4d;
    border: 2px solid #000000;
}

.content h1 {
    text-align: center;
}

.content img {
    text-align: center;
    width: 50%; 
    height: 50%;
    display: block;
    margin: 0 auto;
}

.content cite {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #f0f0f0;
    text-align: center;
    padding: 10px;
    font-size: 0.9em;
}
